<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text = "${LoggedInUser.name}+' | SCM'">Profile Page</title>
</head>
<body>
   

    <div id="content">
         <!-- User is logged in : sidebar -->

 <div th:if="${LoggedInUser}">
    <div data-th-replace="~{user/sidebar :: sidebar}"></div>
  </div>
  

    <div class="sm:pl-64 pt-20" style="height: 1000px;">
        <div class="flex justify-center flex-col items-center">
            <h1 class="text-2xl">Welcome to profile Page</h1>
       <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, distinctio.</P>
        </div>
    </div>

</div>


    <script>
console.log("This is profile Page");

    </script>
</body>
</html>