@keyframes border-light {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

.animated-border-form {
    background: linear-gradient(
        120deg,
        #ff7e5f,
        #feb47b,
        #ff7e5f,
        #4f46e5,
        #ec4899,
        #f59e0b,
        #4f46e5
    );
    background-size: 200% 200%;
    animation: border-light 10s linear infinite;
    position: relative;
    padding: 3px;
    border-radius: 0.5rem;
    display: inline-block;
}


/* Social Media */

@keyframes border-light {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 200%;
    }
}

.animated-border {
    background: linear-gradient(
        45deg,
        #4f46e5,
        #ec4899,
        #f59e0b,
        #4f46e5
    );
   background-size: 300% 300%;
     
    animation: border-light 4s linear infinite;
    position: relative;
    padding: 2px; /* Thin border */
    border-radius: 0.375rem; /* Slightly rounded corners */
    display: inline-block;
    width: 200px; /* Fixed width */
}

.social-button {
    background: #403f3e;
       
    
    border-radius: 0.375rem; /* Match border radius */
    padding: 0.5rem 1rem; /* Fixed padding */
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
 //   display: block;
    text-align: center;
    font-size: 0.875rem; /* Smaller font size */
    width: 100%; /* Full width of parent */
}

.social-button:hover {
    background: #262523;
}

.social-buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Space between buttons */
    margin-top: 1rem; /* Margin from the form */
}



















// Text SCM styles


@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.content {
    position: relative;
  }

.content span {
  color: #fff;
  position: absolute;
  font-size: 2em;
  transform: translate(-50%, -50%);
  margin-left: 20px;
}

.content span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
  margin-left: 20px;
}

.content span:nth-child(2) {
  color: #2c034a;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}










