<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
   
    <link rel="stylesheet" data-th-href="/css/login.css">

</head>
<body>
    <div id="content">
        <div class="grid grid-cols-12 mt-3 ">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4 "></div>
          <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4 animated-border-form">
          <!--Card-->
          <div href="#" class="   block p-6 border-t-[10px] border-sky-600 bg-white rounded-xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-sky-700 dark:hover:bg-gray-700">
    
    <!--Message Here-->
    
    <!--<div data-th-replace="message::messagebox"></div> -->
    
    <div class="flex justify-center items-center">
            <animated-icons
  src="https://animatedicons.co/get-icon?name=Individual&style=minimalistic&token=ae97ee7c-56cc-4490-90bd-ecd3fc81466e"
  trigger="loop"
  attributes='{"variationThumbColour":"#A4A7A9","variationName":"Gray Tone","variationNumber":3,"numberOfGroups":1,"strokeWidth":1.5,"backgroundIsGroup":true,"defaultColours":{"group-1":"#000000","background":"#4A71B2FF"}}'
  height="100"
  width="100"
></animated-icons>
           </div>

           
            <h3 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Login</h3>

            <div class="text-red-600 text-center"  th:if="${param.error}">Invalid username and password.</div>
            <div class="text-green-600 text-center"  th:if="${param.logout}">You have been logged out.</div>
    
     <!--This is my form  -->
    
    <form method="post" data-th-action="@{/authenticate}"   class="max-w-sm mx-auto mt-5">

    
    <!--Username   data-th-field="*{email}"-->
    <div class="mb-3">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
        <input type="email" id="email" name="email"  
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
          dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
           dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Jon@gmail.com" required />
           <!-- <p
           data-th-if="${#fields.hasErrors('email')}"
           data-th-errors="*{email}"
          class="text-red-600 px-1 py-2"></p> -->
    
          </div>
 
    
    <!--Password      data-th-field="*{password}"-->
    
    
    <div class="mb-3">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
        <input type="password" id="password" name="password"  
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
          dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
           dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ex:-1234.." required />
     
<!--      
           <p
           data-th-if="${#fields.hasErrors('password')}"
           data-th-errors="*{password}"
          class="text-red-600 px-1 py-2"></p> -->
     
     
          </div>
    
   
   
    
    <!--Buttons-->
    <div class="mb-3 flex  justify-center space-x-3">
    
        <button type="submit"  class="px-3 py-2 rounded bg-gray-800 hover:bg-gray  text-white dark:bg-blue-800 dark:hover:bg-blue-800" >Login</button>
    
        <button type="reset"  class="px-3 py-2 rounded bg-orange-800 hover:bg-orange  text-white dark:bg-orange-800 dark:hover:bg-orange-800" >Reset</button>
    
    </div>
    
    </form>
      
    
   
   

    <div class="social-buttons-container">
        <div class="animated-border">
            <a data-th-href="@{'/oauth2/authorization/google'}" 
               class="social-button relative inline-flex items-center justify-center overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-200 to-blue-100 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
              
<dotlottie-player
src="https://lottie.host/49763d7f-68ff-4908-9bfc-527e676c1d63/OaZNhdrj4i.lottie"
background="transparent"
speed="1"
style="width: 25px; height: 25px"
loop
autoplay
></dotlottie-player>
                Login With Google
            </a>
        </div>
        <div class="animated-border">
            <a data-th-href="@{'/oauth2/authorization/github'}" 
               class="social-button relative inline-flex items-center justify-center overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-200 to-blue-100 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                
               
               <dotlottie-player
               src="https://lottie.host/bbc87061-563d-4dba-8c9a-02fda9bde3f9/m3MGsrxUmA.lottie"
               background="transparent"
               speed="1"
               style="width: 25px; height: 25px "
               loop
               autoplay
             ></dotlottie-player>
               Login With GitHub
            </a>
        </div>
    </div>

   
    
    
          </div>
            
    
          </div>
    
    
          </div>
  
  
    </div>
    
    <script>
console.log("login page Page");

    </script>
</body>
</html>